# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=iot

# RabbitMQ Streams Configuration
RABBITMQ_HOST=localhost
RABBITMQ_STREAM_PORT=5552
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/

# Application Configuration
NODE_ENV=development
PORT=3001 